@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@theme {
  --breakpoint-xs: 25rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee {
  animation: marquee 120s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse 120s linear infinite;
}

/* Fade edges */
.marquee-fade::before,
.marquee-fade::after {
  content: "";
  position: absolute;
  top: 0;
  width: 120px;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.marquee-fade::before {
  left: 0;
  background: linear-gradient(to right, #FFFDEA 0%, transparent 100%);
}

.marquee-fade::after {
  right: 0;
  background: linear-gradient(to left, #FFFDEA 0%, transparent 100%);
}
